development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: plan_app_development
  pool: 5
  username: root
  password: your_password
  socket: /var/run/mysqld/mysqld.sock

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: plan_app_test
  pool: 5
  username: root
  password: your_password
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: plan_app_production
  pool: 5
  username: root
  password: your_password
  socket: /var/run/mysqld/mysqld.sock
